// config
html {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

@font-face {
  font-family: 'Signifier-Regular';
  src:  url('./fonts/Signifier-Regular.woff2') format('woff2'),
}

$white: #fcfcfc; 
$green: #A4E666;
$brown: #251c1c;

// properties
body{
  background-color: darken($color: $brown, $amount: 8%);
  font-family: 'Signifier-Regular';
  color: $green;
}

footer{
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  font-size: 0.75rem;
  position: fixed;
  inset: 0;
  top: 96vh;
  margin-right: 10px;
  a#github{
    color: inherit;
  }
}

// index html
main.index-main{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .game-container{
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid $white;

    #title{
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: inherit;
      h1{
        font-size: 5rem;
        font-weight: 100;
      }

      #title-div{
        height: 2px;
        background-color: $white;
        width: 50%;
        margin: 20px auto;
      }

      h3{
        font-size: 2rem;
        font-weight: 100;
        color: darken($color: $green, $amount: 5%);
      }
    }

    #menu{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 40px;
      gap: 10px;
      .menu-btn{
          background-color: transparent;
          font-size: 1rem;
          color: $white;
          border: 1px solid $white;
          border-radius: 8px;
          padding: 10px 40px;
          font-family: Arial, Helvetica, sans-serif;
          transition: background-color .5s ease;
          &:hover {
            border-color: $green;
            background-color: $green;
            color: $brown;
          }
      }
      
      form#play{
        button{
          padding: 10px 60px;
        }
      }
    }
  }
}

// game html 
.game-wrapper{
  position: relative;
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;

  .game{
    // padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 30px;
    padding: 10px 40px;

    #image-container{
      width: 310px;
      height: 310px;
      border: 1px solid white;
      #game-image{
        width: 308px;
        height: 308px;
      }
    }

    #text-container{
      #game-text{
        margin-left: 10px;
        width: 490px;
        height: 147px;
        display: flex;
        align-items: center;
      }
      #game-options{
        margin-left: 10px;
        padding: 20px;
      }

      #game-select{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-right: 20px;
        .select-btn{
          height: 30px;
          width: 80px;
          background-color: transparent;
          color: $white;
          border-radius: 8px;
          border: 1px solid white;
          transition: background-color .5s ease;
          &:hover {
            border-color: $green;
            background-color: $green;
            color: $brown;
          }
        }
      }

    }
    
  }
}

// in game nav keys
#nav{
  width: inherit;
  display: grid;
  grid-template-columns: max-content 1fr max-content;

  // reload and nav key
  .nav-key{
    font-size: 2rem;
    color: $green;
    padding: 10px;
    border: 1px solid white;
    transition: background-color .5s ease;
    &:hover {
      border-color: $green;
      background-color: $green;
      color: $brown;
    }
  }
}

// loading animation
:root {
	--bg: #e3e4e8;
	--fg: #17181c;
	--dur: 8s;
	
}
/* body {
/* 	background: var(--bg);
	color: var(--fg);
	font: bold 1em/1.5 "Comfortaa", sans-serif;
	display: grid;
	place-items: center;
	align-content: center;
	height: 100vh;
	letter-spacing: 0.1em;
	text-transform: uppercase;
} */
.loading-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.hexagon {
	overflow: hidden;
	position: relative;
	width: 15em;
	height: 15em;
  font-size: calc(20px + (30 - 20) * (100vw - 320px) / (1280 - 320));
}
.hexagon__group, .hexagon__sector, .hexagon__sector:before, .hexagon__sector:after {
	position: absolute;
}
.hexagon__group {
	width: 100%;
	height: 100%;
}
.hexagon__group:nth-child(2) .hexagon__sector,
.hexagon__group:nth-child(2) .hexagon__sector:before,
.hexagon__group:nth-child(2) .hexagon__sector:after {
	animation-delay: calc(var(--dur) * -1/6);
}
.hexagon__group:nth-child(3) .hexagon__sector,
.hexagon__group:nth-child(3) .hexagon__sector:before,
.hexagon__group:nth-child(3) .hexagon__sector:after {
	animation-delay: calc(var(--dur) * -2/6);
}
.hexagon__group:nth-child(4) .hexagon__sector,
.hexagon__group:nth-child(4) .hexagon__sector:before,
.hexagon__group:nth-child(4) .hexagon__sector:after {
	animation-delay: calc(var(--dur) * -3/6);
}
.hexagon__group:nth-child(5) .hexagon__sector,
.hexagon__group:nth-child(5) .hexagon__sector:before,
.hexagon__group:nth-child(5) .hexagon__sector:after {
	animation-delay: calc(var(--dur) * -4/6);
}
.hexagon__group:nth-child(6) .hexagon__sector,
.hexagon__group:nth-child(6) .hexagon__sector:before,
.hexagon__group:nth-child(6) .hexagon__sector:after {
	animation-delay: calc(var(--dur) * -5/6);
}
.hexagon__group:nth-child(odd) {
	transform: rotate(30deg);
}
.hexagon__sector, .hexagon__sector:before, .hexagon__sector:after {
	animation-duration: var(--dur);
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	/*animation-play-state: paused;*/
	width: 0.2em;
	height: 0.2em;
}
.hexagon__sector {
	animation-name: moveOut1;
	top: calc(50% - 0.1em);
	left: calc(50% - 0.1em);
}
.hexagon__sector:nth-child(2) {
	animation-name: moveOut2;
}
.hexagon__sector:nth-child(3) {
	animation-name: moveOut3;
}
.hexagon__sector:nth-child(4) {
	animation-name: moveOut4;
}
.hexagon__sector:nth-child(5) {
	animation-name: moveOut5;
}
.hexagon__sector:nth-child(6) {
	animation-name: moveOut6;
}
.hexagon__sector:before, .hexagon__sector:after {
	animation-name: ripple;
	background-color: currentColor;
	border-radius: 0.1em;
	content: "";
	display: block;
	top: 0;
	left: 0;
	transform-origin: 0.1em 0.1em;
}
.hexagon__sector:before {
	transform: rotate(-30deg)
}
.hexagon__sector:after {
	transform: rotate(-150deg)
}
/* Dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: #17181c;
		--fg: #e3e4e8;
	}
}
/* Animations */
@keyframes moveOut1 {
	from { transform: translateY(0) scale(0); }
	3% { transform: translateY(0.2em) scale(1); }
	97% { transform: translateY(7.3em) scale(1); }
	to { transform: translateY(7.5em) scale(0); }
}
@keyframes moveOut2 {
	from { transform: rotate(60deg) translateY(0) scale(0); }
	3% { transform: rotate(60deg) translateY(0.2em) scale(1); }
	97% { transform: rotate(60deg) translateY(7.3em) scale(1); }
	to { transform: rotate(60deg) translateY(7.5em) scale(0); }
}
@keyframes moveOut3 {
	from { transform: rotate(120deg) translateY(0) scale(0); }
	3% { transform: rotate(120deg) translateY(0.2em) scale(1); }
	97% { transform: rotate(120deg) translateY(7.3em) scale(1); }
	to { transform: rotate(120deg) translateY(7.5em) scale(0); }
}
@keyframes moveOut4 {
	from { transform: rotate(180deg) translateY(0) scale(0); }
	3% { transform: rotate(180deg) translateY(0.2em) scale(1); }
	97% { transform: rotate(180deg) translateY(7.3em) scale(1); }
	to { transform: rotate(180deg) translateY(7.5em) scale(0); }
}
@keyframes moveOut5 {
	from { transform: rotate(240deg) translateY(0) scale(0); }
	3% { transform: rotate(240deg) translateY(0.2em) scale(1); }
	97% { transform: rotate(240deg) translateY(7.3em) scale(1); }
	to { transform: rotate(240deg) translateY(7.5em) scale(0); }
}
@keyframes moveOut6 {
	from { transform: rotate(300deg) translateY(0) scale(0); }
	3% { transform: rotate(300deg) translateY(0.2em) scale(1); }
	97% { transform: rotate(300deg) translateY(7.3em) scale(1); }
	to { transform: rotate(300deg) translateY(7.5em) scale(0); }
}
@keyframes ripple {
	from, to { width: 0.2em; }
	33% { width: 2.4em; }
}

.error-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  .nav-key{
    font-size: 4rem;
    color: $green;
    font-family: inherit;
  }
}

.hide{
  display: none;
}