html {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

@font-face {
  font-family: 'Signifier-Regular';
  src:  url('./fonts/Signifier-Regular.woff2') format('woff2'),
}

$white: #fcfcfc; 
$green: #A4E666;
$brown: #251c1c;

body{
  background-color: darken($color: $brown, $amount: 8%);
  font-family: 'Signifier-Regular';
  color: $green;
}

footer{
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  font-size: 0.75rem;
  position: fixed;
  inset: 0;
  top: 96vh;
  margin-right: 10px;
  a#github{
    color: inherit;
  }
}

// index html
main.index-main{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .game-container{
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid $white;

    #title{
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: inherit;
      h1{
        font-size: 5rem;
        font-weight: 100;
      }

      #title-div{
        height: 2px;
        background-color: $white;
        width: 50%;
        margin: 20px auto;
      }

      h3{
        font-size: 2rem;
        font-weight: 100;
        color: darken($color: $green, $amount: 5%);
      }
    }

    #menu{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 40px;
      gap: 10px;
      .menu-btn{
          background-color: transparent;
          font-size: 1rem;
          color: $white;
          border: 1px solid $white;
          border-radius: 8px;
          padding: 10px 40px;
          font-family: Arial, Helvetica, sans-serif;
          transition: background-color .5s ease;
          &:hover {
            border-color: $green;
            background-color: $green;
            color: $brown;
          }
      }
      
      form#play{
        button{
          padding: 10px 60px;
        }
      }
    }
  }
}

// game html 
#game-wrapper{
  position: relative;
  width: inherit;
  height: inherit;
  display: flex;
  // justify-content: center;
  flex-direction: column;

  .game{
    // padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 30px;
    padding: 10px 40px;

    #image-container{
      width: 310px;
      height: 310px;
      border: 1px solid white;
      #game-image{
        width: 308px;
        height: 308px;
      }
    }

    #text-container{
      #game-text{
        margin-left: 10px;
        width: 490px;
        height: 147px;
        display: flex;
        align-items: center;
      }
      #game-options{
        margin-left: 10px;
        padding: 20px;
      }

      #game-select{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-right: 20px;
        .select-btn{
          height: 30px;
          width: 80px;
          background-color: transparent;
          color: $white;
          border-radius: 8px;
          border: 1px solid white;
          transition: background-color .5s ease;
          &:hover {
            border-color: $green;
            background-color: $green;
            color: $brown;
          }
        }
      }

    }
    
  }

  #nav{
    // display: flex;
    // position: absolute;
    // bottom: 0px;
    // top: 0px;
    width: inherit;
    // justify-content: space-between;
    // align-items: center;
    display: grid;
    grid-template-columns: max-content 1fr max-content;

    .nav-btn{
      border: 1px solid white;
      height: 100%;
      padding: 0 20px;
      text-decoration: none;
      display: flex;
      align-items: center;
      transition: background-color .5s ease;
      font-family: inherit;
      color: inherit;
      &:hover {
        border-color: $green;
        background-color: $green;
        color: $brown;
      }
    }
  
    .nav-key{
      font-size: 2rem;
      padding: 10px;
      border: 1px solid white;
      transition: background-color .5s ease;
      &:hover {
        border-color: $green;
        background-color: $green;
        color: $brown;
      }
    }

    #left-key{
      // border: solid white;
    }

    #right-key{
      // border: solid white;
    }

  }

}
