html {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

@font-face {
  font-family: "Signifier-Regular";
  src: url("./fonts/Signifier-Regular.woff2") format("woff2");
}
body {
  background-color: #0e0a0a;
  font-family: "Signifier-Regular";
  color: #A4E666;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  font-size: 0.75rem;
  position: fixed;
  inset: 0;
  top: 96vh;
  margin-right: 10px;
}
footer a#github {
  color: inherit;
}

main.index-main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main.index-main .game-container {
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #fcfcfc;
}
main.index-main .game-container #title {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
}
main.index-main .game-container #title h1 {
  font-size: 5rem;
  font-weight: 100;
}
main.index-main .game-container #title #title-div {
  height: 2px;
  background-color: #fcfcfc;
  width: 50%;
  margin: 20px auto;
}
main.index-main .game-container #title h3 {
  font-size: 2rem;
  font-weight: 100;
  color: #97e250;
}
main.index-main .game-container #menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 10px;
}
main.index-main .game-container #menu .menu-btn {
  background-color: transparent;
  font-size: 1rem;
  color: #fcfcfc;
  border: 1px solid #fcfcfc;
  border-radius: 8px;
  padding: 10px 40px;
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.5s ease;
}
main.index-main .game-container #menu .menu-btn:hover {
  border-color: #A4E666;
  background-color: #A4E666;
  color: #251c1c;
}
main.index-main .game-container #menu form#play button {
  padding: 10px 60px;
}

#game-wrapper {
  position: relative;
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
}
#game-wrapper .game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 30px;
  padding: 10px 40px;
}
#game-wrapper .game #image-container {
  width: 310px;
  height: 310px;
  border: 1px solid white;
}
#game-wrapper .game #image-container #game-image {
  width: 308px;
  height: 308px;
}
#game-wrapper .game #text-container #game-text {
  margin-left: 10px;
  width: 490px;
  height: 147px;
  display: flex;
  align-items: center;
}
#game-wrapper .game #text-container #game-options {
  margin-left: 10px;
  padding: 20px;
}
#game-wrapper .game #text-container #game-select {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 20px;
}
#game-wrapper .game #text-container #game-select .select-btn {
  height: 30px;
  width: 80px;
  background-color: transparent;
  color: #fcfcfc;
  border-radius: 8px;
  border: 1px solid white;
  transition: background-color 0.5s ease;
}
#game-wrapper .game #text-container #game-select .select-btn:hover {
  border-color: #A4E666;
  background-color: #A4E666;
  color: #251c1c;
}
#game-wrapper #nav {
  width: inherit;
  display: grid;
  grid-template-columns: -webkit-max-content 1fr -webkit-max-content;
  grid-template-columns: max-content 1fr max-content;
}
#game-wrapper #nav .nav-btn {
  border: 1px solid white;
  height: 100%;
  padding: 0 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: background-color 0.5s ease;
  font-family: inherit;
  color: inherit;
}
#game-wrapper #nav .nav-btn:hover {
  border-color: #A4E666;
  background-color: #A4E666;
  color: #251c1c;
}
#game-wrapper #nav .nav-key {
  font-size: 2rem;
  padding: 10px;
  border: 1px solid white;
  transition: background-color 0.5s ease;
  color: #A4E666;
}
#game-wrapper #nav .nav-key:hover {
  border-color: #A4E666;
  background-color: #A4E666;
  color: #251c1c;
}/*# sourceMappingURL=styles.css.map */